//
   Created by xd on 2016/12/23.
extends layout
block content
    h1 爬虫网页，爬取并修改信息
    form(action='/travel',method='post')
        p 爬取的url
        input(type='text',name='url')
        button 提交
    br
    a(href='#{food.originalURL}',target='view_window') 原网页地址
    br
    br
    table(class="table")
        tr
            td 名字
            td 描述
            td 好处
            td 人数
            td 分类
            td 味道
            td 适合身体状况
            td 适合的季节
            td 适合食用时间
            td 图片
            td 图片链接
        tr
            td #{food.name}
            td #{food.describe}
            td
            td #{food.tags.people}
            td
            td #{food.tags.taste}
            td
            td
            td
            td <img src="#{food.images[0]}" />
            td
        tr
            form(action='/travel/upload?time=#{time}',method='post')
                td
                    textarea(type='text',rows='4',cols='15',name='name') #{food.name}
                td
                    textarea(type='text',rows='4',cols='40',name='describe') #{food.describe}
                td
                    textarea(type='text',rows='4',cols='40',name='benefit')
                td
                    input(type='radio',name='people' value="1")
                    lable 一人
                    br
                    input(type='radio',name='people' value="2")
                    label 两人
                    br
                    input(type='radio',name='people' value="3")
                    label 三人
                    br
                    input(type='radio',name='people' value="4")
                    label 多人
                td
                    input(type='radio',name='classify' value="cute")
                    lable 小清新
                    br
                    input(type='radio',name='classify' value="hungry")
                    label 吃不饱
                    br
                    input(type='radio',name='classify' value="high")
                    label 高逼格
                    br
                    input(type='radio',name='classify' value="party")
                    label 聚会餐
                td
                    input(type='checkbox',name='taste' value="酸")
                    label 酸
                    br
                    input(type='checkbox',name='taste' value="甜")
                    label 甜
                    br
                    input(type='checkbox',name='taste' value="辣")
                    label 辣
                    br
                    input(type='checkbox',name='taste' value="咸")
                    label 咸
                    br
                    input(type='checkbox',name='taste' value="鲜")
                    label 鲜
                td
                    input(type='checkbox',name='healthCondition' value="精神好")
                    label 精神好
                    br
                    input(type='checkbox',name='healthCondition' value="萌萌哒")
                    label 萌萌哒
                    br
                    input(type='checkbox',name='healthCondition' value="小病初愈")
                    label 小病初愈
                    br
                    input(type='checkbox',name='healthCondition' value="想吃肉")
                    lable 想吃肉
                    br
                    input(type='checkbox',name='healthCondition' value="长痘")
                    label 长痘
                    br
                    input(type='checkbox',name='healthCondition' value="饿好几天了")
                    label 饿好几天了
                td
                    input(type='radio',name='season' value="春")
                    lable 春
                    br
                    input(type='radio',name='season' value="夏")
                    label 夏
                    br
                    input(type='radio',name='season' value="秋")
                    label 秋
                    br
                    input(type='radio',name='season' value="冬")
                    label 冬
                td
                    input(type='checkbox',name='time' value="m")
                    lable 早晨
                    br
                    input(type='checkbox',name='time' value="n")
                    label 中午
                    br
                    input(type='checkbox',name='time' value="a")
                    lable 下午茶
                    br
                    input(type='checkbox',name='time' value="e")
                    lable 晚上
                    br
                    input(type='checkbox',name='time' value="y")
                    lable 夜宵

                td <img src="#{food.images[0]}" />
                td
                    textarea(rows='4',cols='25',name='imageURL') #{food.images[0]}
                button 上传到数据库 &nbsp
            button(onclick="location.href='next?time=morning'") 早餐 &nbsp
            button(onclick="location.href='next?time=noon'") 午餐 &nbsp
            button(onclick="location.href='next?time=evening'") 晚餐 &nbsp
            button(onclick="location.href='next?time=afternoon'") 下午茶 &nbsp
            button(onclick="location.href='next?time=night'") 夜宵 &nbsp
