//
   Created by xd on 2016/12/23.
extends layout
block content
    h1 爬虫网页，爬取并修改信息
    form(action='/travel',method='post')
        p 爬取的url
        input(type='text',name='url')
        button 提交
    table(class="table")
        tr
            td 名字
            td 描述
            td 人数
            td 味道
            td 图片1
            td 图片2
        tr
            td #{food.name}
            td #{food.describe}
            td #{food.tags.people}
            td #{food.tags.taste}
            td <img src="#{food.images[0]}" />
            td <img src="#{food.images[1]}" />
